input {
  display: block;
}

p {
  margin: 0;
}

.app {
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

.text-editor {
  flex: 1;
  border: 1px solid #ccc;
  min-height: 100px;
  display: flex;
}

.ProseMirror[data-placeholder]::before {
  content: attr(data-placeholder);
  color: #888;
  pointer-events: none;
  float: left;
  height: 0;
}

.preview {
  flex: 1;
  border: 1px solid #ccc;
}

.toolbar {
  display: flex;
  gap: 2px;
}

.ProseMirror {
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}
.ProseMirror-hideselection {
  caret-color: transparent;
}

.ProseMirror [draggable][contenteditable="false"] {
  user-select: text;
}

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  border: 2px solid #8cf;
  pointer-events: none;
}

img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}
